  /*MAIN PAGE*/

  .jumbotron {
    background-image: 
    /* radial-gradient(transparent, whitesmoke),  */
    url(../assets/photo-1.jpeg);
    background-size: cover;
    height: 100vh;
    text-align: end;
    /*Parallax effect*/
    background-attachment: fixed;
    background-position: center;
    /* filter: opacity(90%); */
  }

  .header {
    position: fixed;
    width: 100%;
    color: whitesmoke;
    z-index: 1;
  }

  .display-4 {
    margin-top: 15px;
    padding: 10px;
  }
  @media only screen and (max-width: 800px) {
    .name {
      background-color: whitesmoke;
    }
  }

/*ABOUT ME*/
  .aboutMe {
    background-image:
    radial-gradient(transparent, white), 
    url(../assets/photo-2.jpeg);
    background-size: cover;
    background-position: center;
    height: 100%;
    padding: 50px; 
    margin-bottom: 50px;
  }

  .description {
    padding: 10px;
    margin: 10px;
    font-family: 'Indie Flower', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Titillium Web', sans-serif;
  }

.valueQuotes {
  padding: 10px;
  margin: 10px;
  margin-bottom: 50px;
}

#dayQuote {
  color: orange;
}

.hobby {
  margin: 10px;
  padding: 10px;
}

.resume {
  padding: 0px;
}
.buttonR{
  background-color: whitesmoke;
  border-radius: 10px;
  border-color: lightslategray;
  padding: 10px;
}


/* /*PROJECTS*/
  .skillsProjects {
    background-image: 
    radial-gradient(transparent, white), 
    url(../assets/photo-3.jpeg);
    background-size: cover;
    background-position: center;
    height: 100%;
    box-shadow:inset 0px 0px 10px 6px rgba(255,255,255,1);
  }

  .sectionProject {
    text-align: center;
  }

  .project-item .btn {
    display: inline-block;
    border-radius: 10px;
    border-color: black;
    background: whitesmoke;
    padding: 10px;
    color: green;
  }

  .project-item .btn:hover{
    background: rgba(255,255,255,1)
  }

    .project-item {
    padding: 10px;
    margin: 10px;
  }  

  .wrap {
    position: relative;
    /* max-height: 40vh;
    width: 70%; */
    max-width: 100%;
    height: auto; 
  }
  
  .image {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto; 
 /* height: 100%; */
}
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: snow;
  }
  
  .wrap:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .descriptionP {
   margin: 0px;
   padding: 0px;
   align-items: center;
   margin-top: 30px;
  }

  /*CONTACT ME*/
  .contactMe {
    background-image: url(../assets/photo-4.jpeg);
    background-size: cover;
    height: 120vh;
    /* box-shadow:inset 0px 0px 10px 6px rgba(255,255,255,1); */
    padding:10px;
  }

  .contact {
    margin: 20px;
  }

   /*FOOTER*/
  footer {
    float: right;
  }

  /*FORM STYLE*/
  #fs-frm input,
  #fs-frm select,
  #fs-frm textarea,
  #fs-frm fieldset,
  #fs-frm optgroup,
  #fs-frm label,
  #fs-frm #card-element:disabled {
    font-family: inherit;
    font-size: 100%;
    color: inherit;
    border: none;
    border-radius: 0;
    display: block;
    width: 70%;
    padding: 5px;
    margin: 5px;
    align-items: center;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  #fs-frm label,
  #fs-frm legend,
  #fs-frm ::placeholder {
    font-size: 1.25em;
    margin-bottom: .5em;
    padding-top: .2em;
    display: flex;
    font-weight: 700;
  }

  /* border, padding, margin, width*/
  #fs-frm input,
  #fs-frm select,
  #fs-frm textarea,
  #fs-frm #card-element {
    border: 5px solid rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: rgba(255,255,255,0.9);
    padding: .75em 1em;
    margin-bottom: 1.5em;
  }
  #fs-frm input:focus,
  #fs-frm select:focus,
  #fs-frm textarea:focus {
    background-color: white;
    outline-style: solid;
    outline-width: thin;
    outline-color: black;
    outline-offset: -1px;
  }
  #fs-frm [type="text"],
  #fs-frm [type="email"] {
    width: 70%;
  }
  #fs-frm [type="button"],
  #fs-frm [type="submit"],
  #fs-frm [type="reset"] {
    width: auto;
    cursor: pointer;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
  }
  #fs-frm [type="button"]:focus,
  #fs-frm [type="submit"]:focus,
  #fs-frm [type="reset"]:focus {
    outline: none;
  }
  #fs-frm [type="submit"],
  #fs-frm [type="reset"] {
    margin-bottom: 0;
  }
  #fs-frm select {
    text-transform: none;
  }
  
  #fs-frm [type="checkbox"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
    display: inline-block;
    width: auto;
    margin: 0 .5em 0 0 !important;
  }
  
  #fs-frm [type="radio"] {
    -webkit-appearance: radio;
    -moz-appearance: radio;
    appearance: radio;
  }
  
 #send {
  background-color: lightgrey;
   margin: 10px;
  padding: 20px;
  border: 5px solid rgba(0,0,0,0.2);
  border-radius: 10px;
  margin-bottom: .5em;
  display: flex;
  font-size: 1.5em;
  /* font-weight: 600; */
 }
